.services--text {
    margin-top: 20%;
    color: #212127;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 1px;
}

.service--cards--container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    gap:10px;
}