.footer--container {
    margin-top: 18%;
    display: flex;
    height: 150px;
    padding: 40px 64px;
    align-items: center;
    gap: 228px;
    background: linear-gradient(137deg, rgba(46, 49, 146, 0.09) 0%, rgba(46, 49, 146, 0.04) 93.23%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.footer--copyright {
    color: var(--black-75, rgba(29, 35, 39, 0.75));
    font-family: Proxima Nova;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    white-space: nowrap;
}

.footer--links {
    display: grid;
    padding: 30px 0px;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 63px;
    row-gap: 10px;
    line-height: 30px;
}

.footer--grid--item {
    color: #737373;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    white-space: nowrap;
}

.footer--grid--item:hover {
    color: var(--black-75, rgba(29, 35, 39, 0.75));
    cursor: pointer;
    text-decoration: underline;
}   


.footer--socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
}

.footer--social--logo {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}


.footer--social--logo:hover {
    opacity: 0.5;
    transform: scale(1.1);
}
